<form #programaForm="ngForm" (ngSubmit)="guardarUsuario(programaForm)">

    <!--Botones-->
    <section id="actions" class="py-4 mb-4 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <a routerLink="/programas" class="btn btn-ligt btn-outline-secondary">
                        <i class="fas fa-arrow-left"></i> Regresar
                    </a>
                </div>

                <div class="col-md-3">
                    <button type="submit" class="btn btn-outline-secondary btn-block">
                        <i class="fas fa-check"></i> Guardar
                    </button>
                </div>

            </div>
        </div>
    </section>
    <section id="details">
        <div class="container">
            <div class="row">

                <flash-messages></flash-messages>

                <div class="cold">
                    <div class="card">
                        <div class="card-header bg-secondary bg-gradient text-white">
                            <h4>Editar programa</h4>
                        </div>
                        <div class="card-body">

                            <div class="form-group">
                                <label for="nombre">Programa *</label>
                                <input type="text" name="nombre" placeholder="Nombre del programa" class="form-control"
                                    #nombre="ngModel" [(ngModel)]="programa.nombre"
                                    [ngClass]="{ 'is-invalid': nombre.errors && nombre.touched }" required
                                    minlength="2" />
                                <div [hidden]="!nombre.errors?.required" class="invalid-feedback">
                                    Ingrese un valor para el programa.
                                </div>
                                <div [hidden]="!nombre.errors?.minlength" class="invalid-feedback">
                                    Debe contener al menos 2 carateres.
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>