<!--Botones-->
<section id="actions" class=" footer py-4 mb-4 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal"
          data-bs-target="#agregarProyectoModal" *ngIf="isPermitted1 || isPermitted2">
          <i class="fas fa-plus"></i> Agregar proyecto
        </button>
      </div>
    </div>
  </div>
</section>

<!--Listado Proyectos-->
<section id="proyectos">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header bg-secondary bg-gradient">
            <h4 class="text-white">Listado de proyectos</h4>
          </div>
          <table class="table table-striped table-hover">
            <thead class="table">
              <tr>
                <th>Código</th>
                <th>Título</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let proyecto of proyectos | paginate: { itemsPerPage: 10, currentPage: p};">
                <td>{{ proyecto.cod_proyecto }}</td>
                <td>{{ proyecto.titulo }}</td>
                <td>
                  <a routerLink="/proyecto/editar/{{proyecto.cod_proyecto}}" class="btn btn-outline-secondary"
                    *ngIf="isPermitted1 || isPermitted2">
                    <i class="fas fa-edit"></i> Editar
                  </a>
                </td>
                <td>
                  <a (click)="avalar(proyecto.cod_proyecto)" class="btn btn-outline-secondary"
                    *ngIf="proyecto.aval == null">
                    <i class="fas fa-check-square"></i> Avalar
                  </a>
                </td>
                <td>
                  <a (click)="noAvalar(proyecto.cod_proyecto)" class="btn btn-outline-secondary"
                    *ngIf="proyecto.aval == null">
                    <i class="fas fa-times"></i> No avalar
                  </a>
                </td>

                <td>
                  <a class="btn btn-secondary" *ngIf="proyecto.aval != null">
                    <i class="fas fa-check-double"></i> Evaluado
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
          <pagination-controls previousLabel="Ant" nextLabel="Sig" (pageChange)="handlePageChange($event)">
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Agregar proyecto ventana modal-->
<div class="modal fade" id="agregarProyectoModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-secondary bg-gradient text-white">
        <h5 class="modal-title">Agregar proyecto</h5>
        <button type="button" class="btn-close btn btn-danger" data-bs-dismiss="modal" #botonCerrar></button>
      </div>


      <form #proyectoForm="ngForm" (ngSubmit)="agregar(proyectoForm)">
        <div class="modal-body">

          <div class="form-group">
            <label for="cod_proyecto">Código *</label>
            <input type="text" name="cod_proyecto" placeholder="Código del proyecto" class="form-control"
              #cod_proyecto="ngModel" [(ngModel)]="proyecto.cod_proyecto"
              [ngClass]="{ 'is-invalid': cod_proyecto.errors && cod_proyecto.touched }" required minlength="2" />
            <div [hidden]="!cod_proyecto.errors?.required" class="invalid-feedback">
              Ingrese un valor para el código.
            </div>
            <div [hidden]="!cod_proyecto.errors?.minlength" class="invalid-feedback">
              Debe contener al menos 2 carateres.
            </div>
          </div>

          <div class="form-group">
            <label for="titulo">Título *</label>
            <input type="text" name="titulo" placeholder="Título del proyecto" class="form-control" #titulo="ngModel"
              [(ngModel)]="proyecto.titulo" [ngClass]="{ 'is-invalid': titulo.errors && titulo.touched }" required
              minlength="2" />
            <div [hidden]="!titulo.errors?.required" class="invalid-feedback">
              Ingrese un valor para el título.
            </div>
            <div [hidden]="!titulo.errors?.minlength" class="invalid-feedback">
              Debe contener al menos 2 carateres.
            </div>
          </div>

          <div class="form-group">
            <label for="programa">Programa *</label>
            <select name="programa" id="programas" class="form-control" #programa="ngModel" 
              [(ngModel)]="proyecto.programa" [ngClass]="{ 'is-invalid': programa.errors && programa.touched }"
              required>
              <option value="{{item.nombre}}" *ngFor="let item of programas">{{item.nombre}}</option>
            </select>
            <div [hidden]="!programa.errors?.required" class="invalid-feedback">
              Seleccioné un programa.
            </div>
          </div>          
          <div class="form-group">
            <label for="hor_asesoria">Fecha y hora de aseroría *</label>
            <input type="datetime-local" name="hor_asesoria" id="hor_asesoria" class="form-control"
              #hor_asesoria="ngModel" [(ngModel)]="proyecto.hor_asesoria"
              [ngClass]="{ 'is-invalid': hor_asesoria.errors && hor_asesoria.touched }" min="2021-01-01T00:00" required>
            <div [hidden]="!hor_asesoria.errors?.required" class="invalid-feedback">
              Seleccioné fecha y hora de la asesoría.
            </div>
          </div>

          <div class="form-group">
            <label for="cor_director">Director *</label>
            <ng-autocomplete name="cor_director" [data]="directores" [searchKeyword]="keyword"
              [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate" #cor_director="ngModel"
              [(ngModel)]="proyecto.cor_director"
              [ngClass]="{ 'is-invalid': cor_director.errors && cor_director.touched }" required>
            </ng-autocomplete>

            <ng-template #itemTemplate let-item>
              <a [innerHTML]="item.correo"></a>
            </ng-template>

            <ng-template #notFoundTemplate let-notFound>
              <div [innerHTML]="notFound"></div>
            </ng-template>

            <div [hidden]="!cor_director.errors?.required" class="invalid-feedback">
              Seleccioné un director.
            </div>
          </div>

          <div class="form-group">
            <label for="can_estudiantes">Cantidad estudiantes *</label>
            <input type="number" name="can_estudiantes" placeholder="Cantidad de estudiantes en el proyceto"
              class="form-control" #can_estudiantes="ngModel" [(ngModel)]="proyecto.can_estudiantes"
              [ngClass]="{ 'is-invalid': can_estudiantes.errors && can_estudiantes.touched}" required max="3" min="1" />
            <div [hidden]="!can_estudiantes.errors?.required" class="invalid-feedback">
              Ingrese una cantidad de estudiantes, entre 1 y 3.
            </div>

          </div>

          <div class="form-group">
            <label for="cor_estudiante1">Estudiante 1 *</label>
            <ng-autocomplete name="cor_estudiante1" [data]="estudiantes" [searchKeyword]="keyword"
              [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate" #cor_estudiante1="ngModel"
              [(ngModel)]="proyecto.cor_estudiante1"
              [ngClass]="{ 'is-invalid': cor_estudiante1.errors && cor_estudiante1.touched }" required>
            </ng-autocomplete>

            <ng-template #itemTemplate let-item>
              <a [innerHTML]="item.correo"></a>
            </ng-template>

            <ng-template #notFoundTemplate let-notFound>
              <div [innerHTML]="notFound"></div>
            </ng-template>

            <div [hidden]="!cor_estudiante1.errors?.required" class="invalid-feedback">
              Seleccioné un estudiante.
            </div>
          </div>


          <div *ngIf="proyecto.can_estudiantes == 2 || proyecto.can_estudiantes == 3" class="form-group">
            <label for="cor_estudiante2">Estudiante 2 *</label>
            <ng-autocomplete name="cor_estudiante2" [data]="estudiantes" [searchKeyword]="keyword"
              [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate" #cor_estudiante2="ngModel"
              [(ngModel)]="proyecto.cor_estudiante2"
              [ngClass]="{ 'is-invalid': cor_estudiante2.errors && cor_estudiante2.touched }" required>
            </ng-autocomplete>

            <ng-template #itemTemplate let-item>
              <a [innerHTML]="item.correo"></a>
            </ng-template>

            <ng-template #notFoundTemplate let-notFound>
              <div [innerHTML]="notFound"></div>
            </ng-template>

            <div [hidden]="!cor_estudiante2.errors?.required" class="invalid-feedback">
              Seleccioné un estudiante.
            </div>
          </div>

          <div *ngIf="proyecto.can_estudiantes == 3" class="form-group">
            <label for="cor_estudiante3">Estudiante 3 *</label>
            <ng-autocomplete name="cor_estudiante3" [data]="estudiantes" [searchKeyword]="keyword"
              [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate" #cor_estudiante3="ngModel"
              [(ngModel)]="proyecto.cor_estudiante3"
              [ngClass]="{ 'is-invalid': cor_estudiante3.errors && cor_estudiante3.touched }" required>
            </ng-autocomplete>

            <ng-template #itemTemplate let-item>
              <a [innerHTML]="item.correo"></a>
            </ng-template>

            <ng-template #notFoundTemplate let-notFound>
              <div [innerHTML]="notFound"></div>
            </ng-template>

            <div [hidden]="!cor_estudiante3.errors?.required" class="invalid-feedback">
              Seleccioné un estudiante.
            </div>
          </div>

          <div class="form-group">
            <label for="tip_proyecto">Tipo proyecto *</label>
            <select name="tip_proyecto" class="form-control" #tip_proyecto="ngModel" [(ngModel)]="proyecto.tip_proyecto"
              [ngClass]="{ 'is-invalid': tip_proyecto.errors && tip_proyecto.touched }" required>
              <option value="{{item}}" *ngFor="let item of tipo_proyectos">{{item}}</option>

            </select>
            <div [hidden]="!tip_proyecto.errors?.required" class="invalid-feedback">
              Seleccioné el tipo de proyecto.
            </div>
          </div>
          <br>
          <flash-messages></flash-messages>

        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-outline-secondary">Guardar</button>
        </div>
      </form>

    </div>
  </div>
</div>