<app-cabecero></app-cabecero>
<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Sistema de rutas -->
        <router-outlet></router-outlet>        
    </div>
<app-pie-pagina></app-pie-pagina>
