<form #proyectoForm="ngForm" (ngSubmit)="guardarProyecto(proyectoForm)">

  <!--Botones-->
  <section id="actions" class="py-4 mb-4 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <a routerLink="/proyectos" class="btn btn-outline-secondary btn-block">
            <i class="fas fa-arrow-left"></i> Regresar
          </a>
        </div>
        <div class="col-md-3">
          <button type="submit" class="btn btn-outline-secondary  btn-block">
            <i routerLink="/proyectos" class="fas fa-check"></i> Guardar
          </button>
        </div>
      </div>
    </div>
  </section>

  <section id="details">
    <div class="container">
      <div class="row">

        <flash-messages></flash-messages>

        <div class="cold">
          <div class="card">
            <div class="card-header bg-secondary bg-gradient text-white">
              <h4>Editar proyecto</h4>
            </div>
            <div class="card-body">


              <div class="form-group">
                <label for="cod_proyecto">Código proyecto *</label>
                <input type="text" name="cod_proyecto" placeholder="Código del proyecto" class="form-control"
                  #cod_proyecto="ngModel" [(ngModel)]="proyecto.cod_proyecto"
                  [ngClass]="{ 'is-invalid': cod_proyecto.errors && cod_proyecto.touched }" required minlength="2"
                  readonly>
                <div [hidden]="!cod_proyecto.errors?.required" class="invalid-feedback">
                  Ingrese un valor para el código.
                </div>
                <div [hidden]="!cod_proyecto.errors?.minlength" class="invalid-feedback">
                  Debe contener al menos 2 carateres.
                </div>
              </div>

              <div class="form-group">
                <label for="titulo">Título *</label>
                <input type="text" name="titulo" placeholder="Título del proyecto" class="form-control"
                  #titulo="ngModel" [(ngModel)]="proyecto.titulo"
                  [ngClass]="{ 'is-invalid': titulo.errors && titulo.touched }" required minlength="2" />
                <div [hidden]="!titulo.errors?.required" class="invalid-feedback">
                  Ingrese un valor para el título.
                </div>
                <div [hidden]="!titulo.errors?.minlength" class="invalid-feedback">
                  Debe contener al menos 2 carateres.
                </div>
              </div>

              <!--Revisar el combo-->
              <div class="form-group">
                <label for="programa">Programa *</label>
                <select name="programa" id="programas" class="form-control" #programa="ngModel" 
                  [(ngModel)]="proyecto.programa" [ngClass]="{ 'is-invalid': programa.errors && programa.touched }"
                  required>
                  <option value="{{item.nombre}}" *ngFor="let item of programas">{{item.nombre}}</option>
                </select>
                <div [hidden]="!programa.errors?.required" class="invalid-feedback">
                  Seleccioné un programa.
                </div>
              </div>    

              <div class="form-group">
                <label for="hor_asesoria">Fecha y hora de aseroría *</label>
                <input type="datetime-local" name="hor_asesoria" id="hor_asesoria" class="form-control"
                  #hor_asesoria="ngModel" [(ngModel)]="proyecto.hor_asesoria"
                  [ngClass]="{ 'is-invalid': hor_asesoria.errors && hor_asesoria.touched }" min="2021-01-01T00:00"
                  required>
                <div [hidden]="!hor_asesoria.errors?.required" class="invalid-feedback">
                  Seleccioné fecha y hora de la asesoría.
                </div>
              </div>

              <div class="form-group">
                <label for="cor_director">Director *</label>
                <ng-autocomplete name="cor_director" [data]="directores" [searchKeyword]="keyword"
                  [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate" #cor_director="ngModel"
                  [(ngModel)]="proyecto.cor_director"
                  [ngClass]="{ 'is-invalid': cor_director.errors && cor_director.touched }" required>
                </ng-autocomplete>

                <ng-template #itemTemplate let-item>
                  <a [innerHTML]="item.correo"></a>
                </ng-template>

                <ng-template #notFoundTemplate let-notFound>
                  <div [innerHTML]="notFound"></div>
                </ng-template>

                <div [hidden]="!cor_director.errors?.required" class="invalid-feedback">
                  Seleccioné un director.
                </div>
              </div>

              <div class="form-group">
                <label for="can_estudiantes">Cantidad estudiantes </label>
                <input type="number" name="can_estudiantes" placeholder="Cantidad de estudiantes en el proyceto"
                  class="form-control" #can_estudiantes="ngModel" [(ngModel)]="proyecto.can_estudiantes" readonly>
              </div>

              <div class="form-group">
                <label for="cor_estudiante1">Estudiante 1 </label>
                <select name="cor_estudiante1" id="cor_estudiante1" class="form-control" #cor_estudiante1="ngModel"
                  [(ngModel)]="proyecto.cor_estudiante1" disabled="disabled">
                  <option value="{{item.correo}}" *ngFor="let item of estudiantes">{{item.correo}}</option>
                </select>
              </div>

              <div *ngIf="proyecto.can_estudiantes == 2 || proyecto.can_estudiantes == 3" class="form-group">
                <label for="cor_estudiante2">Estudiante 2 </label>
                <select name="cor_estudiante2" id="cor_estudiante2" class="form-control" #cor_estudiante2="ngModel"
                  [(ngModel)]="proyecto.cor_estudiante2" disabled="disabled">
                  <option value="{{item.correo}}" *ngFor="let item of estudiantes">{{item.correo}}</option>
                </select>
              </div>

              <div *ngIf="proyecto.can_estudiantes == 3" class="form-group">
                <label for="cor_estudiante3">Estudiante 3 </label>
                <select name="cor_estudiante3" id="cor_estudiante3" class="form-control" #cor_estudiante3="ngModel"
                  [(ngModel)]="proyecto.cor_estudiante3" disabled="disabled">
                  <option value="{{item.correo}}" *ngFor="let item of estudiantes">{{item.correo}}</option>
                </select>
              </div>

              <div class="form-group">
                <label for="tip_proyecto">Tipo proyecto *</label>
                <select name="tip_proyecto" class="form-control" #tip_proyecto="ngModel"
                  [(ngModel)]="proyecto.tip_proyecto"
                  [ngClass]="{ 'is-invalid': tip_proyecto.errors && tip_proyecto.touched }" required>
                  <option [ngValue]="proyecto.tip_proyecto">{{proyecto.tip_proyecto}}</option>
                  <option value="{{item}}" *ngFor="let item of tipo_proyectos">{{item}}</option>

                </select>
                <div [hidden]="!tip_proyecto.errors?.required" class="invalid-feedback">
                  Seleccioné el tipo de proyecto.
                </div>
              </div>

              <div class="form-group">
                <label for="estado">Activo</label>
                <br>
                <input class="bg-dark" type="checkbox" name="estado" #estado="ngModel" [(ngModel)]="proyecto.estado"
                  ng-true-value="claro" ng-false-value="oscuro" />
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</form>