<form #usuarioForm="ngForm" (ngSubmit)="guardarUsuario(usuarioForm)">

    <!--Botones-->
    <section id="actions" class="py-4 mb-4 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <a routerLink="/usuarios" class="btn btn-ligt btn-outline-secondary">
                        <i class="fas fa-arrow-left"></i> Regresar
                    </a>
                </div>

                <div class="col-md-3">
                    <button type="submit" class="btn btn-outline-secondary btn-block">
                        <i class="fas fa-check"></i> Guardar
                    </button>
                </div>

            </div>
        </div>
    </section>
    <section id="details">
        <div class="container">
            <div class="row">

                <flash-messages></flash-messages>

                <div class="cold">
                    <div class="card">
                        <div class="card-header bg-secondary bg-gradient text-white">
                            <h4>Editar usuario</h4>
                        </div>
                        <div class="card-body">


                            <div class="form-group">
                                <label for="nombre">Nombres *</label>
                                <input type="text" name="nombre" placeholder="Nombres" class="form-control"
                                    #nombre="ngModel" [(ngModel)]="usuario.nombre"
                                    [ngClass]="{ 'is-invalid': nombre.errors && nombre.touched }" required
                                    minlength="2" />
                                <div [hidden]="!nombre.errors?.required" class="invalid-feedback">
                                    El campo nombre no puede ser vacío.
                                </div>
                                <div [hidden]="!nombre.errors?.minlength" class="invalid-feedback">
                                    Debe contener al menos 2 carateres
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="apellido">Apellidos *</label>
                                <input type="text" name="apellido" placeholder="Apellidos" class="form-control"
                                    #apellido="ngModel" [(ngModel)]="usuario.apellido" [ngClass]="{
                      'is-invalid': apellido.errors && nombre.touched
                    }" required minlength="2" />
                                <div [hidden]="!apellido.errors?.required" class="invalid-feedback">
                                    El campo apellido no puede ser vacío.
                                </div>
                                <div [hidden]="!nombre.errors?.minlength" class="invalid-feedback">
                                    Debe contener al menos 2 carateres.
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="correo">Correo electrónico *</label>
                                <input type="correo" name="Correo" placeholder="Correo" class="form-control"
                                    #email="ngModel" [(ngModel)]="usuario.correo" readonly />
                            </div>

                            <div class="form-group">
                                <label for="tip_documento">Tipo de documento *</label>
                                <select name="tip_documento" id="tip_documento" class="form-control"
                                    #tip_documento="ngModel" [(ngModel)]="usuario.tip_documento">
                                    <option value={{item}} *ngFor="let item of tipo_documentos">
                                        {{item}}</option>
                                </select>
                                <div [hidden]="!tip_documento.errors?.required" class="invalid-feedback">
                                    Seleccioné un tipo de documento.
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="num_documento">Número de documento *</label>
                                <input type="text" name="num_documento" placeholder="Número de documento" class="form-control"
                                    #num_documento="ngModel" [(ngModel)]="usuario.num_documento"
                                    [ngClass]="{ 'is-invalid': num_documento.errors && num_documento.touched }"
                                    pattern="^[0-9]*$" required minlength="10" />
                                <div [hidden]="!num_documento.errors?.required" class="invalid-feedback">
                                    Ingrese un valor para la cédula.
                                </div>
                                <div [hidden]="!num_documento.errors?.minlength" class="invalid-feedback">
                                    Debe contener al menos 10 carateres.
                                </div>
                                <div [hidden]="!num_documento.errors?.pattern" class="invalid-feedback">
                                    Valor ingresado no valido, solo se permiten valores numéricos.
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="telefono">Teléfono *</label>
                                <input type="text" name="telefono" placeholder="Teléfono" class="form-control"
                                    #telefono="ngModel" [(ngModel)]="usuario.telefono"
                                    [ngClass]="{ 'is-invalid': telefono.errors && telefono.touched }" pattern="^[0-9]*$"
                                    required minlength="10" maxlength="10" />
                                <div [hidden]="!telefono.errors?.required" class="invalid-feedback">
                                    Ingrese un valor para el teléfono.
                                </div>
                                <div [hidden]="!telefono.errors?.minlength" class="invalid-feedback">
                                    Debe contener 10 carateres.
                                </div>
                                <div [hidden]="!telefono.errors?.pattern" class="invalid-feedback">
                                    Valor ingresado no valido, solo se permiten valores numéricos.
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="rol">Rol *</label>
                                <select name="rol" id="rol" class="form-control" #rol="ngModel"
                                    [(ngModel)]="usuario.rol">
                                    <option value={{item.rol}} *ngFor="let item of roles">{{item.rol}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="estado">Activo</label>
                                <br>
                                <input class="bg-dark" type="checkbox" name="estado" #estado="ngModel"
                                    [(ngModel)]="usuario.estado" ng-true-value="claro" ng-false-value="oscuro" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>