#footer{

    position: fixed;
    bottom: 0;
    width: 100%;
    height: 16px;
    padding-bottom: 16px;
    background: #111;
    background: rgba(0,0,0,.90);
    border-top: 2px solid #f00;
    z-index:2000;
    
    }
.footer {
    height: 4rem;    
}