<!--Botones-->
<section id="actions" class=" footer py-4 mb-4 bg-light" >
    <div class="container">
      <div class="row">
        <div class="col-md-4" *ngIf="permitir"> 
          <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal"
            data-bs-target="#agregarFechaModal">
            <i class="fas fa-plus"></i> Agregar fecha
          </button>
        </div>
      </div>
    </div>
  </section>


  <!--Listado fechas-->
<section id="fechas">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header bg-secondary bg-gradient">
            <h4 class="text-white">Listado de fechas</h4>
          </div>
          <table class="table table-striped table-hover">
            <thead class="table">
              <tr>
                <th>#</th>
                <th>Fecha inicial</th>
                <th>Fecha final</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let fecha_habil of fechas_habiles | paginate: { itemsPerPage: 10, currentPage: p};">
                <td>{{ fecha_habil.id }}</td>
                <td>{{ fecha_habil.fec_ini }}</td>
                <td>{{ fecha_habil.fec_fin }}</td>
                <td>
                  <a routerLink="/fechas/editar/{{fecha_habil.id}}" class="btn btn-outline-secondary">
                    <i class="fas fa-edit"></i> Editar
                  </a>
                </td>               
              </tr>
            </tbody>
          </table>
          <pagination-controls previousLabel="Ant" nextLabel="Sig" (pageChange)="handlePageChange($event)">
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Agregar fechas habiles ventana modal-->
<div class="modal fade" id="agregarFechaModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-secondary bg-gradient text-white">
        <h5 class="modal-title">Agregar fecha</h5>
        <button type="button" class="btn-close btn btn-danger" data-bs-dismiss="modal" #botonCerrar></button>
      </div>


      <form #fechasForm="ngForm" (ngSubmit)="agregar(fechasForm)">
        <div class="modal-body">

          <div class="form-group">
            <label for="fec_ini">Fecha inicial *</label>
            <input type="datetime-local" name="fec_ini" id="fec_ini" class="form-control"
              #fec_ini="ngModel" [(ngModel)]="fecha_habil.fec_ini"
              [ngClass]="{ 'is-invalid': fec_ini.errors && fec_ini.touched }" min="2021-01-01T00:00"
              required> 
            <div [hidden]="!fec_ini.errors?.required" class="invalid-feedback">
              Seleccioné fecha y hora.
            </div>
          </div>

          <div class="form-group">
            <label for="fec_fin">Fecha final *</label>
            <input type="datetime-local" name="fec_fin" id="fec_fin" class="form-control"
              #fec_fin="ngModel" [(ngModel)]="fecha_habil.fec_fin"
              [ngClass]="{ 'is-invalid': fec_fin.errors && fec_fin.touched }" min="2021-01-01T00:00"
              required> 
            <div [hidden]="!fec_fin.errors?.required" class="invalid-feedback">
              Seleccioné fecha y hora.
            </div>
          </div>

          <div class="form-group">
            <label for="descripcion">Descripción *</label>
            <input type="text" name="descripcion" placeholder="Descripción" class="form-control" #descripcion="ngModel"
              [(ngModel)]="fecha_habil.descripcion" [ngClass]="{ 'is-invalid': descripcion.errors && descripcion.touched }" required
              minlength="2" />
            <div [hidden]="!descripcion.errors?.required" class="invalid-feedback">
              Ingrese un valor para el título.
            </div>
            <div [hidden]="!descripcion.errors?.minlength" class="invalid-feedback">
              Debe contener al menos 2 carateres.
            </div>
          </div>          

          <flash-messages></flash-messages>

        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-outline-secondary">Guardar</button>
        </div>
      </form>
      
    </div>
  </div>
</div>