<!--Botones-->
<section id="actions" class=" footer py-4 mb-4 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal"
            data-bs-target="#agregarProgramaModal">
            <i class="fas fa-plus"></i> Agregar programa
          </button>
        </div>
      </div>
    </div>
  </section>


  <!--Listado fechas-->
<section id="fechas">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header bg-secondary bg-gradient">
            <h4 class="text-white">Listado de programas</h4>
          </div>
          <table class="table table-striped table-hover">
            <thead class="table">
              <tr>
                <th>#</th>
                <th>Programa</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let programa of programas | paginate: { itemsPerPage: 10, currentPage: p};">
                <td>{{ programa.id }}</td>
                <td>{{ programa.nombre }}</td>
                <td>
                  <a routerLink="/programa/editar/{{programa.id}}" class="btn btn-outline-secondary">
                    <i class="fas fa-edit"></i> Editar
                  </a>
                </td>               
              </tr>
            </tbody>
          </table>
          <pagination-controls previousLabel="Ant" nextLabel="Sig" (pageChange)="handlePageChange($event)">
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Agregar fechas habiles ventana modal-->
<div class="modal fade" id="agregarProgramaModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-secondary bg-gradient text-white">
        <h5 class="modal-title">Agregar programa</h5>
        <button type="button" class="btn-close btn btn-danger" data-bs-dismiss="modal" #botonCerrar></button>
      </div>


      <form #programaForm="ngForm" (ngSubmit)="agregar(programaForm)">
        <div class="modal-body">

        

          <div class="form-group">
            <label for="nombre">Programa *</label>
            <input type="text" name="nombre" placeholder="Nombre del programa" class="form-control" #nombre="ngModel"
              [(ngModel)]="programa.nombre" [ngClass]="{ 'is-invalid': nombre.errors && nombre.touched }" required
              minlength="2" />
            <div [hidden]="!nombre.errors?.required" class="invalid-feedback">
              Ingrese un valor para el programa.
            </div>
            <div [hidden]="!nombre.errors?.minlength" class="invalid-feedback">
              Debe contener al menos 2 carateres.
            </div>
          </div>          

          <flash-messages></flash-messages>

        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-outline-secondary">Guardar</button>
        </div>
      </form>
      
    </div>
  </div>
</div>