<!--Botones-->
<section id="actions" class=" footer py-4 mb-4 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal"
            data-bs-target="#agregarUsuarioModal">
            <i class="fas fa-plus"></i> Agregar usuario
          </button>
        </div>
      </div>
    </div>
  </section>
 
  <p>{{content}}</p>
  <!--Listado Usuarios-->
  <section id="usuarios">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header bg-secondary bg-gradient">
              <h4 class="text-white">Listado de usuarios</h4>
            </div>
            <table class="table table-striped table-hover">
              <thead class="table">
                <tr>
                  <th>Nombre</th>
                  <th>Email</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let usuario of usuarios | paginate: { itemsPerPage: 10, currentPage: p};">
                  <td>{{ usuario.nombre }} {{ usuario.apellido }}</td>
                  <td>{{ usuario.correo }}</td>
                  <td>
                    <a routerLink="/usuario/editar/{{ usuario.correo }}" class="btn btn-outline-secondary">
                      <i class="fas fa-edit"></i> Editar
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
            <pagination-controls previousLabel="Ant" nextLabel="Sig" (pageChange)="handlePageChange($event)">
            </pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <!--Agregar usuario ventana modal-->
  <div class="modal fade" id="agregarUsuarioModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-secondary bg-gradient text-white">
          <h5 class="modal-title">Agregar usuario</h5>
          <button (click)="limpiarModal()" type="button" class="btn-close btn btn-danger" data-bs-dismiss="modal" #botonCerrar></button>
        </div>
  
        <form #usuarioForm="ngForm" (ngSubmit)="agregar(usuarioForm)">
          <div class="modal-body">
            
            <div class="form-group">
              <label for="nombre">Nombres *</label>
              <input type="text" name="nombre" placeholder="Nombres" class="form-control" #nombre="ngModel"
                [(ngModel)]="usuario.nombre" [ngClass]="{ 'is-invalid': nombre.errors && nombre.touched }" required
                minlength="2" />
              <div [hidden]="!nombre.errors?.required" class="invalid-feedback">
                Ingrese un valor para el nombre.
              </div>
              <div [hidden]="!nombre.errors?.minlength" class="invalid-feedback">
                Debe contener al menos 2 carateres.
              </div>
            </div>
  
            <div class="form-group">
              <label for="apellido">Apellidos *</label>
              <input type="text" name="apellido" placeholder="Apellidos" class="form-control" #apellido="ngModel"
                [(ngModel)]="usuario.apellido" [ngClass]="{ 'is-invalid': apellido.errors && nombre.touched }" required
                minlength="2" />
              <div [hidden]="!apellido.errors?.required" class="invalid-feedback">
                Ingrese un valor para el apellido.
              </div>
              <div [hidden]="!apellido.errors?.minlength" class="invalid-feedback">
                Debe contener al menos 2 carateres.
              </div>
            </div>
  
            <div class="form-group">
              <label for="correo">Correo electrónico *</label>
              <input type="email" name="correo" placeholder="Correo institucional" class="form-control" #correo="ngModel"
                [(ngModel)]="usuario.correo" [ngClass]="{ 'is-invalid': correo.errors && correo.touched }"
                pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required />
              <div [hidden]="!correo.errors?.required" class="invalid-feedback">
                Ingrese un correo.
              </div>
              <div [hidden]="!correo.errors?.pattern" class="invalid-feedback">
                Email ingresado no es valido.
              </div>
            </div>
  
            <div class="form-group">
              <label for="tip_documento">Tipo de documento *</label>
              <select name="tip_documento" id="tip_documento" class="form-control" #tip_documento="ngModel" [(ngModel)]="usuario.tip_documento"
                [ngClass]="{ 'is-invalid': tip_documento.errors && tip_documento.touched }" required>
                <option value="{{item}}" *ngFor="let item of tipos_documentos">{{item}}</option>
              </select>
              <div [hidden]="!tip_documento.errors?.required" class="invalid-feedback">
                Seleccioné un tipo de documento.
              </div>
            </div>
  
            <div class="form-group">
              <label for="num_documento">Número de documento *</label>
              <input type="text" name="num_documento" placeholder="Número de documento" class="form-control"
                #num_documento="ngModel" [(ngModel)]="usuario.num_documento"
                [ngClass]="{ 'is-invalid': num_documento.errors && num_documento.touched }" pattern="^[0-9]*$"
                required minlength="8" maxlength="12"/>
              <div [hidden]="!num_documento.errors?.required" class="invalid-feedback">
                Ingrese un valor para la cédula.
              </div>
              <div [hidden]="!num_documento.errors?.minlength" class="invalid-feedback">
                Debe contener al menos 10 carateres.
              </div>
              <div [hidden]="!num_documento.errors?.pattern" class="invalid-feedback">
                Valor ingresado no valido, solo se permiten valores numéricos. 
              </div>
            </div>
  
            <div class="form-group">
              <label for="telefono">Teléfono *</label>
              <input type="text" name="telefono" placeholder="Teléfono" class="form-control" #telefono="ngModel"
                [(ngModel)]="usuario.telefono" [ngClass]="{ 'is-invalid': telefono.errors && telefono.touched }" pattern="^[0-9]*$" required
                minlength="10" maxlength="10" />
              <div [hidden]="!telefono.errors?.required" class="invalid-feedback">
                Ingrese un valor para la teléfono.
              </div>
              <div [hidden]="!telefono.errors?.minlength" class="invalid-feedback">
                Debe contener 10 carateres.
              </div>
              <div [hidden]="!telefono.errors?.pattern" class="invalid-feedback">
                Valor ingresado no valido, solo se permiten valores numéricos. 
              </div>
            </div>
  
            <div class="form-group">
              <label for="rol">Rol *</label>
              <select name="rol" id="rol" class="form-control" #rol="ngModel" [(ngModel)]="usuario.rol"
                [ngClass]="{ 'is-invalid': rol.errors && rol.touched }" required>
                <option value="{{item.id}}" *ngFor="let item of roles">{{item.rol}}</option>
              </select>
              <div [hidden]="!rol.errors?.required" class="invalid-feedback">
                Seleccioné un rol.
              </div>
            </div>
  
            <br>
            <flash-messages></flash-messages>
  
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-outline-secondary">Guardar</button>
          </div>
        </form>
  
      </div>
    </div>
  </div>