<nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0">
  <div class="container">
    <a routerLink="" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">SEGUIMIENTO
      ASESORÍA</a>
    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">

      <li class="nav-item dropdown navbar-nav px-2" *ngIf="isLoggedIn && isPermitted1">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Administración
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" routerLink="/fechas">Fechas habiles</a></li>
          <li><a class="dropdown-item" routerLink="/programas">Programas</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" routerLink="/usuarios">Usuarios</a></li>
        </ul> 
      </li>

      <!-- <ul class="navbar-nav" *ngIf="isLoggedIn && isPermitted1" >
        <li class="nav-item px-2">
          <a routerLink="/fechas" class="nav-link">Fechas habiles</a>
        </li>
      </ul>

      <ul class="navbar-nav" *ngIf="isLoggedIn && isPermitted1" >
        <li class="nav-item px-2">
          <a routerLink="/usuarios" class="nav-link">Usuarios</a>
        </li>
      </ul> -->

      <ul class="navbar-nav" *ngIf="isLoggedIn && (isPermitted1 || isPermitted2) ">
        <li class="nav-item px-2">
          <a routerLink="/proyectos" class="nav-link">Proyectos</a>
        </li>
      </ul>

      <ul class="navbar-nav" *ngIf="isLoggedIn && (isPermitted1 || isPermitted2 || isPermitted3)">
        <li class="nav-item px-2">
          <a routerLink="/seguimientos" class="nav-link">Seguimientos</a>
        </li>
      </ul>

      <!-- <ul class="navbar-nav ms-auto" *ngIf="isLoggedIn">
        <li class="nav-item">
          <a class="nav-link text-white">Bienvenido {{usuario}} {{apellido}} </a>
        </li>
      </ul> -->

      <li class="nav-item dropdown  px-2 navbar-nav ms-auto" *ngIf="isLoggedIn">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Bienvenido {{usuario}} {{apellido}}
        </a>
        <ul class="dropdown-menu ms-auto" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" routerLink="/cambiar-contrasena">Cambiar contraseña</a></li>
        </ul> 
      </li>

      <ul class="navbar-nav ms-auto">
        <li class="nav-item" *ngIf="!isLoggedIn">
          <a routerLink="/login" class="nav-link" routerLinkActive="router-link-active">
            <button type="button" class="btn btn-outline-light me-2" onclick="this.disabled=true">Ingreso</button>
          </a>
        </li>
        
        <li class="nav-item" *ngIf="isLoggedIn">
          <a style="cursor: pointer" (click)="logout()" class="nav-link">
            <button type="button" class="btn btn-outline-light me-2 btn-block">Salir</button>
          </a>
        </li>

      </ul>
    </div>
  </div>
</nav>