<form #seguimientoForm="ngForm" name="seguimientoForm">

  <!--Botones-->
  <section id="actions" class="py-4 mb-4 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <a routerLink="/seguimientos" class="btn btn-outline-secondary btn-block">
            <i class="fas fa-arrow-left"></i> Regresar
          </a>
        </div>
        <div class="col-md-3">
          <button (click)="guardarSeguimiento()" class="btn btn-outline-secondary  btn-block">
            <i class="fas fa-check"></i> Guardar
          </button>
        </div>
      </div>
    </div>
  </section>

  <section id="details">
    <div class="container">
      <div class="row">

        <flash-messages></flash-messages>

        <div class="cold">
          <div class="card">
            <div class="card-header bg-secondary bg-gradient text-white">
              <h4>Seguimiento</h4>
            </div>
            <div class="card-body">

              <div class="form-group">
                <label for="cod_proyecto">Proyecto</label>
                <input type="text" name="cod_proyecto" id="cod_proyecto" class="form-control" #cod_proyecto="ngModel"
                  [(ngModel)]="seguimiento.cod_proyecto" readonly>
              </div>

              <div class="form-group">
                <label for="hor_asesoria">Fecha de aseroría</label>
                <input type="datetime-local" name="hor_asesoria" id="hor_asesoria" class="form-control"
                  #hor_asesoria="ngModel" [(ngModel)]="seguimiento.hor_asesoria" readonly>
              </div>

              <div class="form-group">
                <label for="des_tematica">Descripción</label>
                <textarea type="text" name="des_tematica" placeholder="Descripción de la tematíca" class="form-control"
                  #des_tematica="ngModel" [(ngModel)]="seguimiento.des_tematica" required readonly>
                    </textarea>
              </div>

              <div class="form-group">
                <label for="hallazgos">Hallazgos</label>
                <textarea type="text" name="hallazgos" placeholder="Hallazgos" class="form-control" #hallazgos="ngModel"
                  [(ngModel)]="seguimiento.hallazgos" readonly>
                      </textarea>
              </div>

              <hr size="2px" />

              <!-- validar como mostrar esto al director -->
              <div class="form-group">
                <label for="anexos">Anexos</label>
                <div class="form-group">
                  <div class="custom-file">
                    <input multiple=true (change)="fileChange($event)" type="file"
                      class="input-group-text upload form-control" id="file">
                  </div>
                  &nbsp;

                </div>
              </div>

              <div class="card mt-3 form-group">
                <div class="card-header">Lista de anexos</div>
                <ul class="list-group list-group-flush" *ngFor="let archivo of archivos">
                  <li class="list-group-item">
                    <a href="http://localhost:3000/{{seguimiento.cod_proyecto}}/{{seguimiento.id_seguimiento}}/{{archivo.anexo}}"> {{ archivo.anexo }} </a>
                  </li>
                </ul>
              </div>

              <hr size="2px" />


              <div class="form-group">
                <label for="cor_director">Director</label>
                <input type="text" name="cor_director" id="cor_director" class="form-control" #cor_director="ngModel"
                  [(ngModel)]="seguimiento.cor_director" readonly>
              </div>

              <!-- Si es administrador o estudiante, no se le muestran los campos de aceptación editables -->
              <div class="form-group" *ngIf="isPermitted1 || isPermitted3">
                <label for="ace_director">Aceptación director</label>
                <br>
                <input type="checkbox" name="ace_director" #ace_director="ngModel"
                  [(ngModel)]="seguimiento.ace_director" ng-true-value="claro" ng-false-value="oscuro" disabled
                  readonly />
              </div>

              <!-- Si es director entonces se le muestra el campo de aceptación -->
              <div class="form-group" *ngIf="isPermitted2">
                <label for="ace_director">Aceptación director</label>
                <br>
                <input type="checkbox" name="ace_director" #ace_director="ngModel"
                  [(ngModel)]="seguimiento.ace_director" ng-true-value="claro" ng-false-value="oscuro" />
              </div>

              <hr size="2px" />

              <!-- Estudiante 1 -->

              <div class="form-group">
                <label for="cor_estudiante1">Estudiante 1</label>
                <input type="text" name="cor_estudiante1" id="cor_estudiante1" class="form-control"
                  #cor_estudiante1="ngModel" [(ngModel)]="seguimiento.cor_estudiante1" readonly>
              </div>

              <div class="form-group">
                <label for="asi_estudiante1">Asistió</label>
                <br>
                <input type="checkbox" name="asi_estudiante1" #asi_estudiante2="ngModel"
                  [(ngModel)]="seguimiento.asi_estudiante1" ng-true-value="claro" ng-false-value="oscuro" disabled />
              </div>

              <div class="form-group" *ngIf="isPermitted3">
                <label for="com_estudiante1">Comentario estudiante 1</label>
                <textarea type="text" placeholder="Max 500 carácteres." name="com_estudiante1" class="form-control"
                  #com_estudiante1="ngModel" [(ngModel)]="seguimiento.com_estudiante1" maxlength="500">
                    </textarea>
              </div>

              <!-- Si es director o administrador solo puede leer -->
              <div class="form-group" *ngIf="isPermitted1 || isPermitted2">
                <label for="com_estudiante1">Comentario estudiante 1</label>
                <textarea type="text" name="com_estudiante1" class="form-control" #com_estudiante1="ngModel"
                  [(ngModel)]="seguimiento.com_estudiante1" readonly>
                    </textarea>
              </div>

              <!-- Si es administrador o director, no se le muestran los campos de aceptación editables-->
              <div class="form-group" *ngIf="isPermitted1 || isPermitted2">
                <label for="ace_estudiante1">Aceptación estudiante 1</label>
                <br>
                <input type="checkbox" name="ace_estudiante1" #ace_estudiante1="ngModel"
                  [(ngModel)]="seguimiento.ace_estudiante1" ng-true-value="claro" ng-false-value="oscuro" disabled />
              </div>

              <!-- Si es estudiante se le permite editar -->
              <div class="form-group" *ngIf="isPermitted3">
                <label for="ace_estudiante1">Aceptación estudiante 1</label>
                <br>
                <input type="checkbox" name="ace_estudiante1" #ace_estudiante1="ngModel"
                  [(ngModel)]="seguimiento.ace_estudiante1" ng-true-value="claro" ng-false-value="oscuro" />
              </div>

              <hr size="2px" />

              <!-- Estudiante 2 -->

              <div class="form-group"
                *ngIf="seguimiento.cor_estudiante2 && ((isPermitted1 || isPermitted2) || isPermitted3)">
                <label for="cor_estudiante2">Estudiante 2</label>
                <input type="text" name="cor_estudiante2" id="cor_estudiante2" class="form-control"
                  #cor_estudiante2="ngModel" [(ngModel)]="seguimiento.cor_estudiante2" readonly>
              </div>

              <div class="form-group" *ngIf="seguimiento.cor_estudiante2">
                <label for="asi_estudiante2">Asistió</label>
                <br>
                <input type="checkbox" name="asi_estudiante1" #asi_estudiante1="ngModel"
                  [(ngModel)]="seguimiento.asi_estudiante1" ng-true-value="claro" ng-false-value="oscuro" disabled />
              </div>

              <!-- Si es director o administrador solo puede leer -->
              <div class="form-group" *ngIf="seguimiento.cor_estudiante2 && (isPermitted1 || isPermitted2)">
                <label for="com_estudiante2">Comentario estudiante 2</label>
                <textarea type="text" name="com_estudiante2" class="form-control" #com_estudiante2="ngModel"
                  [(ngModel)]="seguimiento.com_estudiante2" readonly>
                    </textarea>
              </div>

              <!-- Si es estudiante se le permite editar -->
              <div class="form-group" *ngIf="seguimiento.cor_estudiante2 && isPermitted3">
                <label for="com_estudiante2">Comentario estudiante 2</label>
                <textarea type="text" placeholder="Max 500 carácteres." name="com_estudiante2" class="form-control"
                  #com_estudiante2="ngModel" [(ngModel)]="seguimiento.com_estudiante2" maxlength="500">
                    </textarea>
              </div>

              <!-- Si es administrador o director, no se le muestran los campos de aceptación editables-->
              <div class="form-group" *ngIf="seguimiento.cor_estudiante2 && (isPermitted1 || isPermitted2)">
                <label for="ace_estudiante2">Aceptación estudiante 2</label>
                <br>
                <input type="checkbox" name="ace_estudiante2" #ace_estudiante2="ngModel"
                  [(ngModel)]="seguimiento.ace_estudiante2" ng-true-value="claro" ng-false-value="oscuro" disabled />
              </div>

              <!-- Si es estudiante se le permite editar -->
              <div class="form-group" *ngIf="seguimiento.cor_estudiante2 && isPermitted3">
                <label for="ace_estudiante2">Aceptación estudiante 2</label>
                <br>
                <input type="checkbox" name="ace_estudiante2" #ace_estudiante2="ngModel"
                  [(ngModel)]="seguimiento.ace_estudiante2" ng-true-value="claro" ng-false-value="oscuro" />
              </div>

              <hr size="2px" />

              <!-- Estudiante 3 -->

              <div class="form-group"
                *ngIf="seguimiento.cor_estudiante3 && ((isPermitted1 || isPermitted2) || isPermitted3)">
                <label for="cor_estudiante3">Estudiante 3</label>
                <input type="text" name="cor_estudiante3" id="cor_estudiante3" class="form-control"
                  #cor_estudiante3="ngModel" [(ngModel)]="seguimiento.cor_estudiante3" readonly>
              </div>

              <div class="form-group" *ngIf="seguimiento.cor_estudiante3">
                <label for="asi_estudiante3">Asistió</label>
                <br>
                <input type="checkbox" name="asi_estudiante3" #asi_estudiante3="ngModel"
                  [(ngModel)]="seguimiento.asi_estudiante3" ng-true-value="claro" ng-false-value="oscuro" disabled />
              </div>

              <!-- Si es director o administrador solo puede leer -->
              <div class="form-group" *ngIf="seguimiento.cor_estudiante3 && (isPermitted1 || isPermitted2)">
                <label for="com_estudiante3">Comentario estudiante 3</label>
                <textarea type="text" name="com_estudiante3" class="form-control" #com_estudiante3="ngModel"
                  [(ngModel)]="seguimiento.com_estudiante3" readonly>
                    </textarea>
              </div>

              <!-- Si es estudiante se le permite editar -->
              <div class="form-group" *ngIf="seguimiento.cor_estudiante3 && isPermitted3">
                <label for="com_estudiante3">Comentario estudiante 3</label>
                <textarea type="text" placeholder="Max 500 carácteres." name="com_estudiante3" class="form-control"
                  #com_estudiante3="ngModel" [(ngModel)]="seguimiento.com_estudiante3" maxlength="500">
                    </textarea>
              </div>

              <!-- Si es estudiante se le permite editar -->
              <div class="form-group" *ngIf="seguimiento.cor_estudiante3 && isPermitted3">
                <label for="ace_estudiante3">Aceptación estudiante 3</label>
                <br>
                <input type="checkbox" name="ace_estudiante3" #ace_estudiante3="ngModel"
                  [(ngModel)]="seguimiento.ace_estudiante3" ng-true-value="claro" ng-false-value="oscuro" />
              </div>

              <!-- Si es administrador entonces no se le muestran los campos de aceptación editables-->
              <div class="form-group" *ngIf="seguimiento.cor_estudiante3 && (isPermitted1 || isPermitted2)">
                <label for="ace_estudiante3">Aceptación estudiante 3</label>
                <br>
                <input type="checkbox" name="ace_estudiante3" #ace_estudiante3="ngModel"
                  [(ngModel)]="seguimiento.ace_estudiante3" ng-true-value="claro" ng-false-value="oscuro" disabled />
              </div>

              <br>
              <flash-messages></flash-messages>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</form>