<section id="actions" class="py-4 mb-4 bg-light">
  <div class="container">
    <div class="row"></div>
  </div>
</section>

<section id="login">
  <div class="container">
    <div class="row">
      <div class="col-md-5 mx-auto">
        <div class="card">
          <div class="card-header">
            <h4>Verifiqué su identidad</h4>
            <br>
            <flash-messages></flash-messages>
          </div>
          <div class="card-body">
            <form #loginForm="ngForm" (submit)="login(loginForm)">
              <div class="form-group">
                <label for="correo">Correo electrónico *</label>
                <input type="email" name="correo" placeholder="Correo institucional" class="form-control"
                  #correo="ngModel" [(ngModel)]="usuario.correo" [ngClass]="{ 'is-invalid': correo.errors && correo.touched }"
                  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required />
                <div [hidden]="!correo.errors?.required" class="invalid-feedback">
                  Ingrese un correo.
                </div>
                <div [hidden]="!correo.errors?.pattern" class="invalid-feedback">
                  El correo ingresado no es valido.
                </div>
              </div>

              <div class="form-group">
                <label for="contrasena">Contraseña *</label>
                <input type="password" name="contrasena" placeholder="********" class="form-control"
                  #contrasena="ngModel" [(ngModel)]="usuario.contrasena" [ngClass]="{ 'is-invalid': contrasena.errors && contrasena.touched }"
                  required minlength="8" />
                <div [hidden]="!contrasena.errors?.required" class="invalid-feedback">
                  Ingrese una contrasena.
                </div>                
                <div [hidden]="!contrasena.errors?.minlength" class="invalid-feedback">
                  Debe contener al menos 8 carateres.
                </div>
              </div>
              <br>
              <input type="submit" value="Ingresar" class="btn btn-dark btn-block col-md-12" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>