<!--Botones-->
<section id="actions" class=" footer py-4 mb-4 bg-light">
  <div class="container">

    <form #proyectoForm="ngForm" (ngSubmit)="cargarInformacion(proyectoForm)">
      <div class="row">
        <div class="col-md-6">
          <label for="cod_proyecto">Proyecto *</label>
          <ng-autocomplete name="cod_proyecto" [data]="proyectos" [searchKeyword]="keyword"
            [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate" #cod_proyecto="ngModel"
            [(ngModel)]="proyecto.cod_proyecto"
            [ngClass]="{ 'is-invalid': cod_proyecto.errors && cod_proyecto.touched }" required>
          </ng-autocomplete>

          <ng-template #itemTemplate let-item>
            <a [innerHTML]="item.cod_proyecto"></a>
          </ng-template>

          <ng-template #notFoundTemplate let-notFound>
            <div [innerHTML]="notFound"></div>
          </ng-template>

          <div [hidden]="!cod_proyecto.errors?.required" class="invalid-feedback">
            Seleccioné un proyecto.
          </div>
        </div>

      </div>

      <br>

      <div class="row">
        <div class="col-md-4" *ngIf="proyecto.cod_proyecto">
          <button type="button submit" class="btn btn-outline-secondary" data-bs-toggle="modal"
            data-bs-target="#registrarSeguimientoModal" *ngIf="isPermitted1 || isPermitted2 || isPermitted3">
            <i class="fas fa-plus"></i> Registrar seguimiento
          </button>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-4" *ngIf="proyecto.cod_proyecto">
          <button type="button submit" class="btn btn-outline-secondary"data-bs-toggle="modal"
          data-bs-target="#registrarSeguimientoModal" *ngIf="!isPermitted2">
            <i class="fas fa-plus"></i> Registrar inasistencia director
          </button>
        </div>
      </div>
    </form>
  </div>
</section>

<!--Listado Seguimientos-->
<section id="seguimientos">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header bg-secondary bg-gradient">
            <h4 class="text-white">Listado de seguimientos</h4>
          </div>
          <table class="table table-striped table-hover">
            <thead class="table">
              <tr>
                <th>ID</th>
                <th>Proyecto</th>
                <th>Fecha</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let seguimiento of seguimientos | paginate: { itemsPerPage: 10, currentPage: p};">
                <td>{{ seguimiento.id_seguimiento }} </td>
                <td>{{ seguimiento.cod_proyecto }}</td>
                <td>{{ seguimiento.hor_asesoria}}</td>
                <td>
                  <a routerLink="/seguimiento/ver/{{seguimiento.id_seguimiento}}" class="btn btn-outline-secondary">
                    <i class="fas fa-angle-double-right"></i> Ver - Aprobar
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
          <pagination-controls previousLabel="Ant" nextLabel="Sig" (pageChange)="handlePageChange($event)">
          </pagination-controls>
        </div>
      </div>

    </div>
  </div>
</section>

<!--Agregar seguimiento ventana modal-->

<div class="modal fade" id="registrarSeguimientoModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-secondary bg-gradient text-white">
        <h5 class="modal-title">Registrar seguimiento</h5>
        <button type="button" class="btn-close btn btn-danger" data-bs-dismiss="modal" #botonCerrar></button>
      </div>


      <form #seguimientoForm="ngForm" (ngSubmit)="agregar(seguimientoForm)">
        <div class="modal-body">


          <div class="form-group">
            <label for="cod_proyecto">Proyecto *</label>
            <input name="cod_proyecto" id="cod_proyecto" class="form-control" #cod_proyecto="ngModel"
              [(ngModel)]="proyecto.cod_proyecto" readonly>
          </div>

          <div class="form-group">
            <label for="hor_asesoria">Fecha de aseroría *</label>
            <input type="datetime-local" name="hor_asesoria" id="hor_asesoria" class="form-control" readonly
              #hor_asesoria="ngModel" [(ngModel)]="proyecto.hor_asesoria">
          </div>


          <div class="form-group">
            <label for="pendientes">Pendientes </label>
            <textarea type="text" name="pendientes" placeholder="" class="form-control" #pendientes="ngModel"
              [(ngModel)]="seguimiento.pendientes" readonly>

            </textarea>
          </div>

          <hr size="2px" />

          <div class="form-group">
            <label for="des_tematica">Descripción *</label>
            <textarea type="text" name="des_tematica" placeholder="Descripción de la tematíca" class="form-control"
              #des_tematica="ngModel" [(ngModel)]="seguimiento.des_tematica"
              [ngClass]="{ 'is-invalid': des_tematica.errors && des_tematica.touched }" required minlength="2">
              </textarea>
            <div [hidden]="!des_tematica.errors?.required" class="invalid-feedback">
              Ingrese un valor para el campo descripción.
            </div>

            <div [hidden]="!des_tematica.errors?.minlength" class="invalid-feedback">
              Debe contener al menos 2 carateres.
            </div>

          </div>


          <div class="form-group">
            <label for="hallazgos">Hallazgos *</label>
            <textarea type="text" name="hallazgos" placeholder="Hallazgos" class="form-control" #hallazgos="ngModel"
              [(ngModel)]="seguimiento.hallazgos" [ngClass]="{ 'is-invalid': hallazgos.errors && hallazgos.touched }"
              required minlength="2">
                </textarea>
            <div [hidden]="!hallazgos.errors?.required" class="invalid-feedback">
              Ingrese un valos para hallazgos.
            </div>
            <div [hidden]="!hallazgos.errors?.minlength" class="invalid-feedback">
              Debe contener al menos 2 carateres.
            </div>
          </div>

          <hr size="2px" />

          <div class="form-group">
            <label for="cor_estudiante1">Estudiante 1</label>
            <input type="text" name="cor_estudiante1" id="cor_estudiante1" class="form-control"
              #cor_estudiante1="ngModel" [(ngModel)]="proyecto.cor_estudiante1" readonly>
          </div>

          <div class="form-group">
            <label for="asi_estudiante1">Asistió</label>
            <br>
            <input type="checkbox" name="asi_estudiante1" #asi_estudiante1="ngModel"
              [(ngModel)]="seguimiento.asi_estudiante1" ng-true-value="claro" ng-false-value="oscuro" />
          </div>

          <hr size="2px" *ngIf="proyecto.can_estudiantes == 2 || proyecto.can_estudiantes == 3" />

          <div class="form-group" *ngIf="proyecto.can_estudiantes == 2 || proyecto.can_estudiantes == 3">
            <label for="cor_estudiante2">Estudiante 2</label>
            <input type="text" name="cor_estudiante2" id="cor_estudiante2" class="form-control"
              #cor_estudiante2="ngModel" [(ngModel)]="proyecto.cor_estudiante2" readonly>
          </div>

          <div class="form-group" *ngIf="proyecto.can_estudiantes == 2 || proyecto.can_estudiantes == 3">
            <label for="asi_estudiante2">Asistió</label>
            <br>
            <input type="checkbox" name="asi_estudiante2" #asi_estudiante2="ngModel"
              [(ngModel)]="seguimiento.asi_estudiante2" ng-true-value="claro" ng-false-value="oscuro" />
          </div>

          <hr size="2px" *ngIf="proyecto.can_estudiantes == 2 || proyecto.can_estudiantes == 3" />

          <div class="form-group" *ngIf="proyecto.can_estudiantes ==3">
            <label for="cor_estudiante3">Estudiante 3</label>
            <input type="text" name="cor_estudiante3" id="cor_estudiante3" class="form-control"
              #cor_estudiante3="ngModel" [(ngModel)]="proyecto.cor_estudiante3" readonly>
          </div>

          <div class="form-group" *ngIf="proyecto.can_estudiantes ==3">
            <label for="asi_estudiante3">Asistió</label>
            <br>
            <input type="checkbox" name="asi_estudiante3" #asi_estudiante3="ngModel"
              [(ngModel)]="seguimiento.asi_estudiante3" ng-true-value="claro" ng-false-value="oscuro" />
          </div>

          <hr size="2px" />

          <!--Revisar el combo cargar automaticamente-->
          <div class="form-group">
            <label for="cor_director">Director *</label>
            <input type="text" name="cor_director" id="cor_director" class="form-control" #cor_director="ngModel"
              [(ngModel)]="proyecto.cor_director" readonly>
          </div>

          <div class="form-group" *ngIf="isPermitted1 || isPermitted2">
            <label for="ace_director">Aceptación director</label>
            <br>
            <input type="checkbox" name="ace_director" #ace_director="ngModel" [(ngModel)]="seguimiento.ace_director"
              ng-true-value="claro" ng-false-value="oscuro" />
          </div>

          <div class="form-group">
            <label for="asi_director">Asistió</label>
            <br>
            <input type="checkbox" name="asi_director" #asi_director="ngModel"
              [(ngModel)]="seguimiento.asi_director" ng-true-value="claro" ng-false-value="oscuro"/>
          </div>

          <br>
          <flash-messages></flash-messages>

        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-outline-secondary">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>