<section id="actions" class="py-4 mb-4 bg-light">
    <div class="container">
      <div class="row"></div>
    </div>
  </section>
  
  
  <section id="login">
    <div class="container">
      <div class="row">
        <div class="col-md-7 mx-auto">
          <div class="card">
            <div class="card-header">
              <h4>Cambio de contraseña</h4>
              <br>
              <flash-messages></flash-messages>
            </div>
            <div class="card-body">
              <form #cambiarForm="ngForm" (submit)="cambiar(cambiarForm)">
                  
                <div class="form-group">
                  <label for="con_antigua">Contraseña antigua *</label>
                  <input type="password" name="contrasena" placeholder="********" class="form-control"
                    #contrasena="ngModel" [(ngModel)]="usuario.contrasena" [ngClass]="{ 'is-invalid': contrasena.errors && contrasena.touched }"
                    required minlength="8" />
                  <div [hidden]="!contrasena.errors?.required" class="invalid-feedback">
                    Ingrese una contrasena.
                  </div>                
                  <div [hidden]="!contrasena.errors?.minlength" class="invalid-feedback">
                    Debe contener al menos 8 carateres.
                  </div>
                </div>

                <div class="form-group">
                    <label for="con_nueva">Contraseña nueva *</label>
                    <input type="password" name="con_nueva" placeholder="********" class="form-control"
                      #con_nueva="ngModel" [(ngModel)]="usuario.con_nueva" [ngClass]="{ 'is-invalid': con_nueva.errors && con_nueva.touched }"
                      required minlength="8" 
                      pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).{6,12}$"/>
                    <div [hidden]="!con_nueva.errors?.required" class="invalid-feedback">
                      Ingrese una constraseña.
                    </div>                
                    <div [hidden]="!con_nueva.errors?.minlength" class="invalid-feedback">
                      Debe contener al menos 8 carateres.
                    </div>
                    <div [hidden]="!con_nueva.errors?.pattern" class="invalid-feedback">
                      La nueva contraseña debe contener:
                      <li> Al menos 1 caracter en minuscula (m). </li> 
                      <li> Al menos 1 caracter en mayuscula (M). </li>
                      <li> Al menos un numero (1-9). </li>
                    </div>
                  </div>                  
                <br>
                <input type="submit" value="Cambiar" class="btn btn-dark btn-block col-md-12" />
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>