<form #fechaForm="ngForm" (ngSubmit)="guardarFecha(fechaForm)">

    <!--Botones-->
    <section id="actions" class="py-4 mb-4 bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <a routerLink="/fechas" class="btn btn-outline-secondary btn-block">
              <i class="fas fa-arrow-left"></i> Regresar
            </a>
          </div>
          <div class="col-md-3">
            <button type="submit" class="btn btn-outline-secondary  btn-block">
              <i routerLink="/fechas" class="fas fa-check"></i> Guardar
            </button>
          </div>
        </div>
      </div>
    </section>
  
    <section id="details">
      <div class="container">
        <div class="row">
  
          <flash-messages></flash-messages>
  
          <div class="cold">
            <div class="card">
              <div class="card-header bg-secondary bg-gradient text-white">
                <h4>Editar fecha</h4>
              </div>
              <div class="card-body">
  
                <div class="form-group">
                    <label for="fec_ini">Fecha inicial *</label>
                    <input type="datetime-local" name="fec_ini" id="fec_ini" class="form-control"
                      #fec_ini="ngModel" [(ngModel)]="fecha_habil.fec_ini"
                      [ngClass]="{ 'is-invalid': fec_ini.errors && fec_ini.touched }" min="2021-01-01T00:00"
                      required> 
                    <div [hidden]="!fec_ini.errors?.required" class="invalid-feedback">
                      Seleccioné fecha y hora.
                    </div>
                  </div>
        
                  <div class="form-group">
                    <label for="fec_fin">Fecha final *</label>
                    <input type="datetime-local" name="fec_fin" id="fec_fin" class="form-control"
                      #fec_fin="ngModel" [(ngModel)]="fecha_habil.fec_fin"
                      [ngClass]="{ 'is-invalid': fec_fin.errors && fec_fin.touched }" min="2021-01-01T00:00"
                      required> 
                    <div [hidden]="!fec_fin.errors?.required" class="invalid-feedback">
                      Seleccioné fecha y hora.
                    </div>
                  </div>
        
                  <div class="form-group">
                    <label for="descripcion">Descripción *</label>
                    <input type="text" name="descripcion" placeholder="Descripción" class="form-control" #descripcion="ngModel"
                      [(ngModel)]="fecha_habil.descripcion" [ngClass]="{ 'is-invalid': descripcion.errors && descripcion.touched }" required
                      minlength="2" />
                    <div [hidden]="!descripcion.errors?.required" class="invalid-feedback">
                      Ingrese un valor para el título.
                    </div>
                    <div [hidden]="!descripcion.errors?.minlength" class="invalid-feedback">
                      Debe contener al menos 2 carateres.
                    </div>
                  </div>   
            
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </form>